# Preinstall requirements from TTS 
TTS @ git+https://github.com/developerTTS/coqui-ai-TTS
pydantic==2.5.1
python-multipart==0.0.6
typing-extensions>=4.8.0
cutlet
mecab-python3==1.0.6
unidic-lite==1.0.8
unidic==1.1.0
langid
deepspeed
pydub
kaleido
cohere
openai
tiktoken
